<div class="user-card">
  <img src="<%= user.photo %>">
  <div class="user-overview">
    <%= link_to user_path(user, format: '') do %>
      <h3><%= user.name %></h3>
    <% end %>
    <p>Number of posts: <%= user.post_counter %></p>
  </div>
</div>