<%= render 'shared/user_header', user: @user %>

<% if notice %>
  <div class="notice-post"><%= notice %></div>
<% end %>

<% @posts.each do |post| %>
  <%= render 'shared/post_card', post: post %>
  <div class="comments-box">
    <% post.comments.each do |comment| %>
      <%= render 'shared/comments_card', comment: comment %>
    <% end %>
  </div>
<% end %>

<section class="pagination-section">
  Section for Pagination.
</section>