<%= render 'shared/user_header', user: @user %>

<% @posts.each do |post| %>
  <%= render 'shared/post_card', post: post %>
  <div class="comments-box">
    <% post.recent_comments.each do |comment| %>
      <%= render 'shared/comments_card', comment: comment %>
    <% end %>
  </div>
<% end %>