* {
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
}

.user-card {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.user-card img {
  border: 1px solid black;
}

.user-overview {
  display: flex;
  border: 1px solid black;
  padding: 10px;
  width: 100%;
  justify-content: space-between;
  font-size: 15px;
}

.user-bio {
  border: 1px solid black;
  margin: 10px 0;
  padding: 10px;
}

.post-card {
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.post-text {
  margin: 5px 0;
}

.post-stats {
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
}

.comments-box {
  border: 1px solid black;
  padding: 10px;
  list-style: none;
  margin-bottom: 10px;
}

.post-main {
  padding: 20px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.post-header {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
